// .env.local.example
NEXT_PUBLIC_SUPABASE_URL=sgwgjetlxaenzarvhubb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNnd2dqZXRseGFlbnphcnZodWJiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDE0MzM4OCwiZXhwIjoyMDk1NzE5Mzg4fQ.lwqUCt3buH6z-91Oe3J8hc8o2s_ySWZ0SM1KSgRYndw
